## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
publish/

## Local runtime artifacts
*.db
*.db-shm
*.db-wal
logs/

## Rider / VS
*.DotSettings.user

## OS
.DS_Store
Thumbs.db
